body {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid #dceadf;
}

.encabezado {
    background-color: #aaeeaa;
    display: flex;
    padding: 15px;
    align-items: center;
}
.logo {
    padding-left: 25px;
}
.categorias {
    position: relative;
}


/* Botón categorias */
#boton-categorias , #boton-nosotros {
    border: none;
    outline: none;
    padding: 10px 18px;            
    background-color: #356234;
    color: #ffffff;                 
    cursor: pointer;                
    border-radius: 5px;             
    font-weight: bold;             
    transition: background-color 0.3s; 
    margin-left: 15px;
}

#boton-categorias, #boton-nosotros:hover {
    background-color: #356234; 
    color:#ffffff; 
}

/* Menú desplegable */
.menu-oculto {
    display: none;
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #356234;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 6px;
}

/* Evento  */
.menu-oculto.activo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    min-width: 180px;
    z-index: 1000;
}

/*  Cajas individuales */
#menu-categorias .menu {
    display: block;
    padding: 12px 16px;
    background-color: #356234;
    color:#111111;
    text-decoration: none; 
    border-radius: 6px;
    transition: background-color 0.3s ease; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* Hover de cada caja individual */
#menu-categorias .menu:hover {
    background-color: #aaeeaa; 
    color: #111111;
}

.productos-categorias {
    box-sizing: border-box;
    background-color: #d6e3d5;
    padding: 10px;  
    margin-left: 10px; 
    border-radius: 6px;
}